.wrapper {
    margin: 0 auto;
    width: 1200px;
    /* background-color: pink; */
}

body {
    background-color: #f3f5f7;
}

.header {
    height: 100px;
    background-color: #fff;
}

.header .wrapper {
    display: flex;
    padding-top: 29px;
}

.logo a {
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    display: block;
    font-size: 0;
}

.nav {
    margin-left: 102px;
}

.nav ul {
    display: flex;
}

.nav li {
    margin-right: 24px;
}

.nav li a {
    font-weight: 800;
    padding: 6px 8px;
    display: block;
    line-height: 27px;
}

.nav li .active,
.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
    display: flex;
}

.search input {
    flex: 1;
    border: 0;
    background-color: transparent;
    outline: none;
}

.search input::placeholder {
    font-size: 14px;
    color: #999;
}

.search a {
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
}

.user {
    margin-left: 32px;
    margin-top: 4px;
}

.user img {
    margin-right: 7px;
    vertical-align: middle;
}

.user span {
    font-size: 16px;
    color: #666;
}

.banner {
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper {
    height: 420px;
    justify-content: space-between;
    background-image: url(../uploads/banner.png);
    display: flex;
}

.banner .left {
    width: 191px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.42);
    padding: 3px 20px;
}

.banner .left a {
    height: 46px;
    line-height: 46px;
    display: block;
    color: white;
    background: url(../images/right.png) no-repeat right center;
}

.banner .left a:hover {
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}

.banner .right {
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
    margin-top: 60px;
}

.banner .right h3 {
    padding-left: 14px;
    font-size: 15px;
    line-height: 48px;
    height: 48px;
    color: #FFF;
    font-weight: 400;
}

.banner .right .content {
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
    padding: 14px;
}

.banner .right dl {
    margin-bottom: 12px;
    border-bottom: #000 solid 1px;
}

.banner .right dt {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.banner .right dd {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}

.banner .right dd span {
    color: #00a4ff;
}

.banner .right dd strong {
    color: #7d7d7d;
    font-weight: 400;
}

.banner .right a {
    border-radius: 15px;
    display: block;
    height: 32px;
    background-color: #00a4ff;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
}
.recommend{
    background-color: #fff;
    height: 60px;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
    margin-top: 11px;
    padding: 0 20px;
    line-height: 60px;
    display: flex;
}
.recommend h3{
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;
}
.recommend ul{
    display: flex;
    flex:1;
}
.recommend ul li a{
    padding: 0 24px;
    border-right:1px solid #e0e0e0 ;
    font-size: 18px;
}
.recommend ul li:last-child a{
    border-right: 0;
}
.recommend .modify{
    font-size: 16px;
    color: #00a4ff;
}
.course{
    margin-top: 15px;
}
.hd{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}
.hd h3{
    font-size: 21px;
    font-weight: 400;
}
.hd .more{
    font-size: 14px;
    color: #999;
    background: url(../images/more.png) no-repeat right center;
    padding-right: 20px;
}
.bd ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bd li{
    width: 228px;
    height: 271px;
    background-color: pink;
    margin-bottom: 14px;
}
.bd li .pic{
    height: 156px;
}
.bd li .text{
    padding: 20px;
    height: 115px;
    background-color: #fff;
}
.bd li .text h4{
    height: 40px;
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.bd li .text p{
    font-size: 14px;
    line-height: 20px;
    color: #999;
}
.bd li .text p span{
    color: #fa6400;
}
.bd li .text p i{
    font-style: normal;
    color: #999;
}
.hd ul{
    display: flex;
}
.hd li{
    margin-right: 60px;
    font-size: 16px;
}
.hd li .active,
.hd li a:hover{
    color: #00a4ff;
}
.bd{
    display: flex;
    justify-content: space-between;
}
.bd .left{
    width: 228px;
}
.bd .right{
    width: 957px;
}
.bd .right .top{
    margin-bottom: 15px;
    height: 100px;
}
.bd .right1{
    width: 1200px;
}
.footer{
    margin-top: 60px;
    height: 273px;
    background-color: #fff;
    padding-top: 60px;
}
.footer .wrapper{
    display: flex;
    justify-content: space-between;
}
.footer .left{
    width: 450px;
}
.footer .left p{
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
    color: #666;
}
.footer .left .download{
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    display: block;
    text-align: center;
    line-height: 34px;
    color: #00a4ff;
}
.footer .right{
    display: flex;
}
.footer .right dl{
    margin-left: 130px;
}
.footer .right dt{
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}
.footer .right a{
    font-size: 14px;
    line-height: 24px;
    color: #666;
}